:root {
  --blue: #216d9a;
  --dark: #181818;
  --light_black: #111111;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

#face-img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 20px;
  box-shadow: 0 0 40px var(--blue);
}

#config-container {
  display: none;
  position: absolute;

  #config-header {
    display: flex;

    h1 {
      flex-grow: 1;
    }
  }

  form {
    min-width: 50vw;
    background-color: var(--dark);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
      font-weight: normal;
    }

    > p {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    label {
      color: var(--blue);
    }

    input {
      border: 0;
      background-color: var(--light_black);
      padding: 10px;
      border-radius: 5px;

      &:focus {
        outline: 0;
      }
    }

    button[type="submit"] {
      padding: 15px;
      background-color: var(--blue);
      font-size: 1.1em;
      border: 0;
    }
  }
}

#config-icon {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;

  svg {
    width: 50px;
    fill: var(--blue);
    opacity: 0.5;
    cursor: pointer;
  }
}
