:root {
  --blue: #216d9a;
  --dark: #181818;
  --light_black: #111111;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

#face-img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 20px;
  box-shadow: 0 0 40px var(--blue);
}

#settings-container {
  display: none;
  position: absolute;
  background-color: var(--light_black);
  padding: 30px;
  border-radius: 10px;
  width: 70vw;
  height: 80vh;
  overflow: auto;
  flex-direction: column;
  gap: 30px;

  #settings-header {
    display: flex;

    h1 {
      flex-grow: 1;
    }
  }

  #settings-feedback{
    display: none;
    background-color: #216e9a29;
    border: 1px solid var(--blue);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
  }

  form {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    fieldset {
      border: 0;
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      legend {
        font-size: 1em;
        font-weight: bold;
      }
    }

    .input-field {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        background-color: var(--dark);
        border: none;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid var(--blue);
        border-top: 1px solid var(--blue);

        &:focus {
          outline: 1px solid var(--blue);
        }
      }
    }

    button[type="submit"] {
      background-color: var(--blue);
      color: white;
      padding: 10px 20px;
      font-size: 1em;
      align-self: end;
      justify-self: flex-end;
    }
  }
}
